*{
    margin:0;
    font-family: font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color:#FD6E0A;
}
.btn-primary{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border-radius: 5px;
    background:#FD6E0A; 
    border: 0;
    padding: 18px 35px;
}
/*header and navigation style*/
.header{
    background:  #FFF8F3;
    background-image: url('../images/header_bg.png'),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
  
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 36px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/* banner style */
.img{
   
    width: 345px;
    height: 440px;
}
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
}
.banner-description{
   color:  #757575;
   font-size: 18px;
   margin-bottom: 30px;
}
/* Main secrion */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.section{
    margin-top:130px; ;
}
/* about section style */
.about{
   
   background: #FFF8F3;
   border-radius: 10px;
   padding: 130px 150px;
   text-align: center;
}
.section-title{
    margin: 130px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;

}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 10px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
/*What i do styles  */
.what-i-do{
    margin: 130px;

}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 20px;

}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}
.skill-description{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
/* Resume styles */
.resume-content{
    display: flex;
    gap: 24px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-title{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 41px;

}
.resume .title{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 34px;
margin-bottom: 10px;

}
.resume .sub-title{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
color: #474747;
margin-bottom: 10px;

}
.resume .description{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #757575;


}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
.resume-button{
    margin-bottom: 60px;
}
/* contact style */
.contact{
    display: flex;
    gap:100px;
    background:#FFF8F3;
    padding: 130px 200px;

}
.contact .section-title{
    text-align: left;
}
.contact input[type="text"],input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding:18px 30px;
}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
}
